body{
            background-image: url('white-lotus.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 100vh;
            margin-top: 4vw;
            margin-bottom: 5vw;
            margin-left: 22vw;
            margin-right: 15vw;
        }

        h1{
            margin-left: 15vw;
            font-size: 3.1vw;
        }

        input{
            width: 90%;
            padding: 1.1vw 2.2vw;
            margin: 8px 0;
            box-sizing: border-box;
            border-bottom: 4px solid black;
        }

        button{
            background-color: #4CAF50;
            margin: auto;
            color: white;
            padding: 1vw 6vw;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-left: 20vw;
        }

        #predi{
            margin-left: 5vw;
            color:solid white;
            font-size: 3.7vw;
        }