<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Species API</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:300" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login">
        <h1 style="color: #ffffff;">Flower Class Prediction</h1>

        <form action="{{ url_for('predict') }}" method="post">
            <input type="text" name="Sepal-Length" placeholder="Sepal_Length" required="required">
            <input type="text" name="Sepal-Width" placeholder="Sepal_Width" required="required">
            <input type="text" name="Petal-Length" placeholder="Petal_Length" required="required">
            <input type="text" name="Petal-Width" placeholder="Petal_Width" required="required">
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
        <br>
        <div id="predi">
            <h1>{{ prediction_text }}</h1>
        </div>
    
    </div>
    
</body>
</html>